.contact 
    .title(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")   
        h1 Contact Us 
    .details 
        .information
            .topic(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")  
                h5 Contact 
            .details_inf(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")  
                ul
                    li
                        a(href="https://www.google.com/maps/place/Dallas,+TX,+USA/@32.8208097,-97.0612155,10z/data=!3m1!4b1!4m15!1m8!3m7!1s0x54eab584e432360b:0x1c3bb99243deb742!2sUnited+States!3b1!8m2!3d37.09024!4d-95.712891!16zL20vMDljN3cw!3m5!1s0x864c19f77b45974b:0xb9ec9ba4f647678f!8m2!3d32.7766642!4d-96.7969879!16zL20vMGYycnE?entry=ttu") 26 New York, NY 10003, USA
                    li 
                        a(href="tel:+12 487543948") +12 487543948
                    li 
                        a(href="mailto:support@skincare.com") support@skincare.com
            .soical_media(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")   
                .f
                    a(href="#" title="Facebook") 
                        img(src="../images/svg/facebook.svg")
                .t
                    a(href="#" title="Twitter") 
                        img(src="../images/svg/twitter.svg")
                .g
                    a(href="#" title="Google") 
                        img(src="../images/svg/google.svg")
                .s
                    a(href="#" title="Share") 
                        img(src="../images/svg/share.svg")
        .reach_out 
            .topic(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")    
                h5 Reach Out With Us
            .para(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")  
                p Join us a note and we'll get back to you as quickly as possible.
            form#form1.form(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")
                .name
                    input(id="name" type="text" placeholder="Name" required)
                .phone
                    input(id="phone" type="text" placeholder="Phone" required)
                .email
                    input(id="email" type="email" placeholder="Email" required)
                .comment
                    textarea(id="comment" type="text" rows="7" placeholder="Comment" required)
                .submit
                    input(id="submit" type="submit" value="SEND")
                p#message   

