.banner
    .container-story(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100")
        .content
            .txt-be(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")
                p Beauty 
            .txt-we(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400") 
                h1 We'll take it from here 
            .txt-skin(data-aos="fade-up" data-aos-duration="800" data-aos-delay="600") 
                p Skin care is the range of practices that support skin integrity, 
            .btn(data-aos="fade-up" data-aos-duration="800" data-aos-delay="800")
                button.btn1(type="button")
                    a(href="products.html")  Check Products    
                button.btn2(type="button") 
                    a(href="https://www.youtube.com/watch?v=OMokbVwgtPE") See Our Video
        .girl-pic(role="img" aria-label="Description of image")
            img(src="../images/image 6.jpg" alt="woman") 