.vitamins 
    .topic
        .title(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")  
            h2 Vitamins tablets
        .btn(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")  
            a(href="products.html")
                button.--vbtn(type="button") Shop Now
                    i.arrow 
                        img(src="../images/svg/arrow_shop.svg" alt="arrow-right" role="img" aria-label="Description of your SVG image")
    .container_skin 
        .skin.first(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" role="img" aria-labelledby="image-1") 
            a(href="#")
                figure 
                    img(src="../images/image1.png" alt="image-1")
                    h3 Naturelo 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny 
        .skin.second(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" role="img" aria-labelledby="image-2") 
            a(href="#")
                figure 
                    img(src="../images/image2.jpg" alt="image-2")
                    h3 Naturelo 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny coat
        .skin.thrid(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" role="img" aria-labelledby="image-3") 
            a(href="#")
                figure 
                    img(src="../images/image3.jpg" alt="image-3")
                    h3 Constipation 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny coat
        .skin.fourth(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" role="img" aria-labelledby="image-4") 
            a(href="#")
                figure 
                    img(src="../images/image4.jpg" alt="image-4")
                    h3 Cymbalta 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny coat