extend ../pagelayout/home
block variables
    -var active = 'How-works'
    -var bodyClass = 'theme--default'
block story
    section.section_banner 
        include ../components/How-it-work/How_works.pug