.quotes 
    .contanier_quo
        .txt(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
            h2 What Our Clients Say About Us 
        .link(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
            a(href="https://www.youtube.com/watch?v=OMokbVwgtPE") Watch Video
    .quote(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
        img.quo-open(src="../images/svg/quote_open.svg"  alt="quote" role="img" aria-label="Description of your SVG image" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="800")
        h3(data-aos="zoom-in" data-aos-duration="800" data-aos-delay="800") It is a long established fact that a reader will be distracted by the readable content.
        .auth(data-aos="zoom-in" data-aos-duration="800" data-aos-delay="800") 
            p.author Aleena James
            span.artist Modeling Artist
        img.quo-close(src="../images/svg/quote_close.svg" alt="quote" role="img" aria-label="Description of your SVG image" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="800")