.products 
    .topic
        .title(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100")
            h2 Skin Care Products
        .btn(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100") 
            a(href="products.html")
                button(type="button") Shop Now
                    i.arrow 
                        img(src="../images/svg/arrow_shop.svg" alt="arrow-right" role="img" aria-label="Description of your SVG image")
    .container_skin(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
        .skin.first(role="img" aria-labelledby="image-1")
            a(href="#")
                figure 
                    img(src="../images/skincare1.jpg" alt="image-1")
                    h3 Skin & Coat 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny 
        .skin.second(role="img" aria-labelledby="image-2")
            a(href="#")
                figure 
                    img(src="../images/skincare2.jpg" alt="image-2")
                    h3 Skin & Coat 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny coat
                    .circle View 
                        br
                        | details
        .skin.thrid(role="img" aria-labelledby="image-3")
            a(href="#")
                figure 
                    img(src="../images/skincare3.jpg" alt="image-3")
                    h3 Skin & Coat 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny coat
        .skin.fourth(role="img" aria-labelledby="image-4")
            a(href="#")
                figure 
                    img(src="../images/skincare4.jpg" alt="image-4")
                    h3 Skin & Coat 
                    span $20 - $25
                    figcaption Premium support for healthy skin and shiny coat