.skin_care.--products 
    .topic(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100")  
        .title
            h2 Skin Care Products
    .container_skin 
        .skin.col1(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
            .image
                a(href="#")
                    figure 
                        img(src="../images/image11.jpg")
                        h3 Sukin
                        span $20 - $25  
            .box 
                h2 Sukin
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART   
        .skin.col2(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/image9.jpg")
                        h3 Constipation
                        span $20 - $25  
            .box 
                h2 Constipation
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col3(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/skincare4.jpg")
                        h3 kalos
                        span $20 - $25  
            .box 
                h2 Kalos
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col4(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/skincare1.jpg")
                        h3 SkinCoat 
                        span $20 - $25  
            .box 
                h2 SkinCoat
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col5(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/skincare3.jpg")
                        h3 Naturelo 
                        span $20 - $25  
            .box 
                h2 Naturelo 
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col6(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/image7.jpg")
                        h3 Cymbalta 
                        span $20 - $25  
            .box 
                h2 Cymbalta 
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col7(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/skincare1.jpg")
                        h3  Constipation
                        span $20 - $25  
            .box 
                h2 Constipation
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col8(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/skincare4.jpg")
                        h3 Islandmist
                        span $20 - $25  
            .box 
                h2 Islandmist
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col9(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/image1.png")
                        h3 Salt & Stone 
                        span $20 - $25  
            .box 
                h2 Salt & Stone 
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col10(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/image2.jpg")
                        h3 Bombes Be Bain 
                        span $20 - $25  
            .box 
                h2 Bombes Be Bain 
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col11(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/image3.jpg")
                        h3 Libra
                        span $20 - $25  
            .box 
                h2 Libra
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART
        .skin.col12(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            .image
                a(href="#")
                    figure 
                        img(src="../images/image4.jpg")
                        h3 Pual 
                        span $20 - $25  
            .box 
                h2 Pual
                p Premium support for healthy skin and shiny coat
                button.btn ADD TO CART