.benefits 
    .title(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")  
        h2 Our Benefits
    .container_icons 
        .icon(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
            img(src="../images/svg/package.svg")
            p High speed delivery, anytime and from anywhere
        .icon(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
            img(src="../images/svg/home.svg")
            p More than 1000 stores worldwide.
        .icon(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
            img(src="../images/svg/headphone.svg")
            p We have 24 hrs customer support team 
    